/* eslint-disable-next-line @typescript-eslint/ban-ts-comment */
@tailwind base;
/* eslint-disable-next-line @typescript-eslint/ban-ts-comment */
@tailwind components;
/* eslint-disable-next-line @typescript-eslint/ban-ts-comment */
@tailwind utilities;

:root {
  --background: #efefef;
  --foreground: #000000;
  --primary: #93DBD6;  /* Blue-500 in Tailwind */
  --primary-text: #000000;
  --card-header-bg: #F5FDFD;  /*this is end-card-bg*/
  --card-footer-bg: #FECAB9;  /* Add this line */
  --card-grid-background: #FFFFFF;  /* Add this line */
  --end-card-bg: #efefef;  /* New variable for main card background */
  
  /* New variables */
  --social-tile-bg: #ffffff;
  --social-icon-color: #000000;
  --social-text-color: #000000;
  --body-primary-text: #333333;
  --header-footer-primary-text: #000000;
  --header-footer-secondary-text: #000000;
  --send-text-button-bg: #93DBD6;
  --send-text-button-text: #000000;
  --save-contact-button-bg: #B9E4FE;
  --save-contact-button-text: #000000;
  --link-icon-color: #FF6A42;  /* New variable for link icons */
  --link-text-color: #333333;  /* New variable for link text */
  --end-card-header-secondary-text-color: #666666;  /* You can set any default color you prefer */
  --share-modal-bg: #efefef; /* Default to white, but you can change this */
}

.dark {
  --background: #1F2937;
  --foreground: #F3F4F6;
  --primary: #93DBD6;
  --primary-text: #FFFFFF;
  --end-card-bg: #2C3E50;
  
  --social-tile-bg: #2C3E50;
  --social-icon-color: #FFFFFF;
  --social-text-color: #FFFFFF;
  --body-primary-text: #F3F4F6;
  --header-footer-primary-text: #FFFFFF;
  --header-footer-secondary-text: #A0AEC0;
  --send-text-button-bg: #FFFFFF;
  --send-text-button-text: #000000;
  --save-contact-button-bg: #000000;
  --save-contact-button-text: #FFFFFF;
  --link-icon-color: #FFFFFF;
  --link-text-color: #F3F4F6;
  --end-card-header-secondary-text-color: #A0AEC0;
  --share-modal-bg: #2C3E50;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: theme('letterSpacing.tight');
}

.bg-blue-500 {
  background-color: var(--primary);
  color: var(--primary-text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.delete-button {
  background-color: #FF6A42 !important; /* red-500 */
  color: white !important;
}

.delete-button:hover {
  background-color: #FF6A42 !important; /* red-600 */
}

h1, h2, h3 {
  letter-spacing: theme('letterSpacing.tighter');
}

h4, h5, h6 {
  letter-spacing: theme('letterSpacing.normal');
}

h1 .pronouns-spacing {
  letter-spacing: theme('letterSpacing.normal');
}

h3 .business-card-form {
  letter-spacing: theme('letterSpacing.normal');
}

.card-grid-action-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.54rem 1rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--foreground);
  background-color: #93DBD6;
  border: 2px solid #93DBD6;
  transition: all 0.2s ease-in-out;
}

.card-grid-action-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.card-grid-action-button svg {
  margin-right: 0.5rem;
}

.card-grid-icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1rem;
  color: var(--foreground);
  background-color: #93DBD6;
  border: 2px solid #93DBD6;
  transition: all 0.2s ease-in-out;
}

.card-grid-icon-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.pronouns-spacing {
  letter-spacing: theme('letterSpacing.normal');
}